
@media (max-width:1500px)
    .card__img-wrap
        width: 517px
        height: 426px
@media (max-width:1200px)
    .container
        width: 960px
    .header
        padding-left: 0
        padding-right: 0
        &__items
            width: 600px
        &__button
            margin-left: 30px
    .main
        padding: 107px 0px 159px 0px
    .card
        &__img-wrap
            width: 517px
            height: 426px
        &__title
            &--main
                font-size: 55px
@media (max-width:992px)
    .container
        width: 700px
    .header
        &__wrap
            flex-wrap: wrap
        &__button
            margin-left: 0
            order: -1
        &__logo
            order: -2
        &__nav
            flex-basis: 100%
        &__items
            margin-top: 40px
            width: inherit
            flex-basis: 100%
    .card
        flex-direction: column
        &__text
            &--main
                margin-right: 0px
                margin-bottom: 50px
        &__title
            &--main
                font-size: 50px
                line-height: 72px
@media (max-width:767px)
    .container
        width: 550px
    body
        &.lock
            overflow: hidden

    .header
        &__logo
            position: relative
            z-index: 3
        &__nav
            position: fixed
            z-index: 2
            top: -100%
            left: 0
            width: 100%
            height: 100%
            background-color: $white
            padding-top: 140px
            overflow: auto
            transition: all 0.4s ease 0s
            flex-direction: column
            &.active
                top: 0
        &__items
            flex-direction: column
            margin: 16px 0px 16px 0px
        &__item
            margin: 20px
            &--mobile
                display: block
        &__link
            font-size: 21px
        &__burger
            display: block
            position: relative
            z-index: 3
            width: 40px
            height: 30px
            border: none
            background-color: transparent
            cursor: pointer
            transition: all 0.4s ease-in-out
            &-span
                position: absolute
                width: 100%
                height: 2px
                left: 0
                transition: all 0.4s ease-in-out
                background-color: $beige
                &--1
                    top: 0
                    &.active
                        transform: rotate(45deg)
                        transform-origin: 5%
                        width: 44px
                &--2,
                &--3
                    top: 13.5px
                &--2
                    &.active
                        transform: translateX(-40px)
                        background-color: transparent
                &--3
                    right: 0
                    &.active
                        transform: translateX(40px)
                        background-color: transparent
                &--4
                    bottom: 0
                    &.active
                        transform-origin: 5%
                        transform: rotate(-45deg)
                        width: 44px
    .button
        &-sign-up
            display: none
            &--mobile
                display: block
                order: 0
                font-size: 21px
                padding: 9px 21px 9px 21px
    .card
        &__title
            &--main
                font-size: 40px
                line-height: 65px
        &__text
            &--main
                width: 550px
        &__img-wrap
            &::after
                bottom: -25px
                right: -18px
@media (max-width:576px)
    .container
        width: 90%
    .card
        &__text
            display: flex
            flex-direction: column
            &--main
                width: 90%
        &__img-wrap
            width: 100%
            height: inherit
            &::after
                right: -9px
                bottom: -17px
        &__title
            &--main
                font-size: 28px
                line-height: 44px
        &__subtitle
            font-size: 18px
        &__info
            font-size: 16px
    .button-contact
        align-self: center
